body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background-color: #ffffff;
}
div,
table,
td,
tr,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
figure {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Outfit", serif;
}
a {
  text-decoration: none;
  border: none;
  outline: 0;
  color: #b661ff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  border: none;
  outline: 0;
  color: #713046;
}
a:focus {
  text-decoration: none;
  border: none;
  outline: 0;
}
button,
button:focus {
  text-decoration: none;
  border: none;
  outline: 0;
}
ul,
ol,
ul li,
ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p:empty {
  display: none;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
p {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}
body.body-fixed{
  position: fixed;
  overflow: hidden;
}
body.body-fixed::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
a.dfltBtn {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 6px;
  padding: 22px 45px;
  background-color: #1b95da;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.dfltBtn:hover {
  background-color: #000000;
}
.egt-row{
  display: flex;
  flex-wrap: wrap;
}
.egt-hdn{
  font-size: 60px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}
.egt-sub-hdn{
  font-size: 50px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 10px;
}
.egt-sub-sub-hdn{
  font-size: 25px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 15px;
}
.egt-list-itm li{
  margin-top: 10px;
  background: url(./images/arrow1.png) no-repeat 0 8px;
  padding-left: 45px;
}
/*=========== Header Style Start ===========*/
.top-main-hdr{
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 4;
  float: none;
  clear: both;
  display: inline-block;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  /* box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 5%); */
}
.top-main-hdr img{
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.top-main-hdr .logo{
  width: 230px;
}
.hdrToprow{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
}
.hdrToprow ul{
  margin-right: 0px;
  display: flex;
}
.hdrToprow ul li{
  padding: 0 20px !important;
  display: flex;
  align-items: center;
}
.hdrToprow ul li i{
  color:#1abc9c;
}
.hdrToprow ul li a{
  color: #000;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px;
}
.layout_block{
  display: flex;
}
.w50{
  width: 48%;
}
.layout_block img {
  width: 25px;
  padding: 0 4px 0 0;
}
.layout_block ul {
  padding: 0 0 0px 0;
  margin: 0;
}
.layout_block ul li{
  display: inline-block;
  list-style-type: none;
  padding: 0 13px 0 4px;
  position: relative;
}
.layout_block ul li a{
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
.layout_block ul li.selected a{
  color: #1468d2;
}
.hdr-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 17px;
  position: relative;
}

.applyButton{
  padding: 15px 30px !important;
  color: #fff !important;
  line-height: 18px;
  font-weight: 600;
  background: #1abc9c;
  border-radius: 40px;
  display: inline-block;
  width: 100%;
  border: none;
}
.applyButton:hover{
  background: #000;
}
.applyButtonBlack{
  padding: 15px 30px !important;
  color: #fff !important;
  line-height: 18px;
  font-weight: 600;
  background: #000;
  border-radius: 40px;
  display: inline-block;
}
.applyButtonBlack:hover{
  background: #1468d2;
}
/*=========== Banner Style Start ===========*/
.home-banner-sec{
  position: relative;
  background: url(../images/banner-mainbg.jpg) 0 0 no-repeat;
  background-size: cover;
  height: 750px;
}
.formTopShadow{
  background: url(../images/form-shadow1.png) 0 0 no-repeat;
  width: 419px;
  height: 365px;
  position: absolute;
  top: 0;
  right: 0;
}
.formBottomShadow{
  background: url(../images/form-shadow2.png) 0 0 no-repeat;
  width: 351px;
  height: 306px;
  position: absolute;
  bottom: -50px;
  right: 0;
}
.formRightShadow{
  background: url(../images/form-shadow3.png) 0 0 no-repeat;
  width: 344px;
  height: 344px;
  position: absolute;
  top: 0px;
  left: -182px;
  opacity: 0.8;
  z-index: -1;
}
.formTopImg{
  position: absolute;
  top: -38px;
  left: 50%;
}
.home-banner-sec .bnr-caption{
  position: relative;
  padding-top: 90px;
  /* width: 100%;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); */
}
.home-banner-sec .bnr-caption .bdFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.slider_left{
  width: 55%;
}
.slider_right{
  width: 37%;
  position: relative;
}
.home-banner-sec .bnr-caption h2{
  font-size: 65px;
  color: #1468d2;
  font-weight: 500;
  margin: 35px 0 25px 0;
  line-height: 70px;
}
.home-banner-sec .bnr-caption p{
  font-size: 20px;
  color: #333;
  margin-bottom: 60px;
  line-height: 1.7;
}
.home-banner-sec .bnr-caption p a{
  color: #1468d2;
}
.home-banner-sec .bnr-caption p a:hover{
  text-decoration: underline;
}
.home-banner-sec .bnr-caption .egt-btn{
  color: #1468d2;
  background-color: #ffffff;
  background-image: url(../images/arrow1.png);
}
.home-banner-sec .carousel-item .bnr-caption{
  text-align: left;
}
.home-banner-sec .carousel-item:nth-child(even) .bnr-caption{
  text-align: right;
}
.home-banner-sec .bnr-caption .container{
  overflow: hidden;
}
.home-banner-sec .bnr-carousel-cntrl{
  width: 17px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}
.home-banner-sec .carousel-control-prev{
  background-image: url(../images/banner-arrow1.png);
  left: 3%;
}
.home-banner-sec .carousel-control-next{
  background-image: url(../images/banner-arrow2.png);
  right: 3%;
}

.bannerFormSec{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);  
}
.bannerFormSec h3{
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.flexRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.flexRow input[type="text"]{
  background: #fff;
  font-size: 15px;
  color: #525252;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 8px 20px 12px;
  margin-top: 8px;
  width: 100%;
  border: solid 1px #fff;
}
.flexRow input[type="text"]:focus{
  outline: none;
  border: solid 1px #1468d2;
}
.flexRow textarea{
  background: #fff;
  font-size: 15px;
  color: #525252;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 8px 20px 12px;
  margin-top: 8px;
  width: 100%;
  border: solid 1px #fff;
  height: 70px;
  resize: none;
}
.flexRow textarea:focus{
  outline: none;
  border: solid 1px #1468d2;
}
.flexRow label{
  font-size: 14px;
  font-weight: 600;
}
.formLeft{
  width: 48%;
}
.w100{
  width: 100%;
}


/*=============== Our Powerful Platforms Style ===============*/
.platformsSec{
  position: relative;
  width: 100%;
  margin: 70px 0;
  text-align: center;
}
.platformsSec h2 {
  font-size: 63px;
  color: #000;
  margin-bottom:30px;
  font-weight: 500;
  line-height: 75px;
}
.platformsSec p a{
  color: #1468d2;
}
.platformsSecFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.platformsSecCol{
  width: 46%;
  text-align: left;
}
.platformsSecCol h3{
  font-size: 30px;
  color: #000;
  margin-bottom:0;
  font-weight: 600;
  line-height: 75px;
}
.platformsSecCol p{
  line-height: 1.5;
}
.platformsSecCol ul li{
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 500;  
  padding-left: 25px;
  color: #4b4b4b;
  position: relative;
}
.platformsSecCol ul li a{
  font-weight: 600;  
  color: #1468d2;
}
.platformsSecCol ul li a:hover{
  text-decoration: underline;
}
.platformsSecCol ul li:after{
  content: "";
  background: #1C8E6B;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 6px;
  border-radius: 100%;
}
.dotted_curve_line {
  position: relative;
  top: -80px;
  left: -35px;
  width: 460px;
  height: auto;
  margin-bottom: -195px;
  z-index: -1;
}
.dotted_curve_line2 {
  position: relative;
  top: -65px;
  left: -65px;
  width: 460px;
  height: auto;
  margin-bottom: -253px;
  z-index: -1;
  transform: rotate(50deg);
}


/*=============== ApplySec Style ===============*/
.featuredSSec{
  position: relative;
  width: 100%;
  margin: 70px 0;
  text-align: center;
}
.featuredSSec h2 {
  font-size: 63px;
  color: #000;
  margin-bottom:30px;
  font-weight: 500;
  line-height: 75px;
}
.featuredSSecFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.featuredSSecFlex li{
  width: 24%;
  border-radius: 20px;
  padding: 30px 30px;
  margin-top: 30px;
  border-top: 2px solid rgb(26 188 156 / 20%);
  border-left: 2px solid rgb(26 188 156 / 20%);
  border-right: 2px solid rgb(26 188 156 / 20%);
  box-shadow: rgb(26 188 156 / 18%) 0px 7px 29px 0px;
  margin: 5px;
  text-align: center;
}
.featuredSSecFlex li h3{
  font-size: 22px;
  color: #000;
  font-weight: 700;
  margin: 20px 0 17px 0;
}
.featuredSSecFlex li p{
  font-size: 17px;
  margin-bottom: 10px;
  height: 80px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featuredSSecFlexIcon{
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 188, 156, 0.1);
}
.featuredSSecFlexIcon img{
  width:80%;
}
.smallText{
  width: 70%;
  margin: 15px auto;
  font-size: 14px;
  color: #3b3b3b;
}

/*================ Featured Partners Start ================*/
.partnersSec{
  position: relative;
  width: 100%;
  padding: 70px 0 100px;
  text-align: center;
  background: transparent conic-gradient(from 252deg at 50% 50%, #1C8E6B 0.00%, #1abc9c 36.91%, #17C08B 100.00%, #2ECF9D 100.00%) 0% 0% no-repeat padding-box;
  z-index: 1;
}
.partnersSec h2{
  font-size: 63px;
  color: #fff;
  margin-bottom:10px;
  font-weight: 500;
  line-height: 75px;
}
.partnersSec p{
  color: #fff;
}
.partnersSec ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.partnersSec ul li{
  padding: 35px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin:5px;
  background: #fff;
}
.partnersSec ul li .imgBox{
  width: 100%;
  height: 70px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partnersSec ul li .imgBox img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.logoBarbgWhite{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13rem;
  background-color: #fff;
  z-index: -1;
}


/*================ Top Reviewed Services Start ================*/
.topReviewedSSec{
  position: relative;
  width: 100%;
  padding: 0 0 100px;
  text-align: center;
}
.topReviewedSSec h2{
  font-size: 63px;
  color: #000;
  margin-bottom:10px;
  font-weight: 500;
  line-height: 75px;
}
.topReviewedSFlex{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.topReviewedSFlexCol{
  width: 30%;
}
.topReviewedSFlexCol ul li{
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(26, 188, 156, 0.2);
  margin:10px 0;
  background: #fff;
}
.boxFlx{
  display: flex;
  align-items: center;
  text-align: left;
}
.boxFlxicon{
  background: #fdf0e9;
  width: 100px;
  height: 70px;
  border-radius: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(26 188 156 / 18%) 0px 7px 29px 0px;
}
.boxFlxicon img{
  width: 60%;
}
.boxFlxText h3{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}
.boxFlxText p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

/*================ Why Neoticks Style Start ================*/
.whyNeoticksSec{
  position: relative;
  width: 100%;
  padding: 70px 0 30px;
  text-align: center;
  background: url(../images/banner-mainbg.jpg) 0 0 no-repeat;
  background-size: cover;
}
.whyNeoticksSecFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whyNeoticksCol{
  width: 46%;
  text-align: left;
}
.whyNeoticksCol h2{
  font-size: 63px;
  color: #000;
  margin-bottom:10px;
  font-weight: 500;
  line-height: 75px;
}
.whyNeoticksCol p{
  line-height: 2.0;
}
.wAuto{
  width: auto;
}
.whyNeoticksCol a i{
  font-size: 20px;
  margin-left: 5px;
}

/*================ Featured Articles Style Start ================*/

.articlesSec{
  position: relative;
  width: 100%;
  padding: 70px 0 100px;
}
.articlesSecFlx{
  display: flex;
  justify-content: space-between;
}
.articlesSecLeftCol{
  width: 40%;
}
.articlesSecRightCol{
  width: 55%;
}
.articlesSecFlx h2{
  font-size: 63px;
  color: #000;
  margin-bottom:10px;
  font-weight: 500;
  line-height: 75px;
}
.articlesSecFlx p{
  line-height: 2.0;
}
.card__group {
  display: grid;
  height: calc(600px * 15 / 9);
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  gap: 2rem;
  padding: 2rem;
}
.card {
  --var-opacity: 0;
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
  border-radius: 0.5rem;
  /* display: grid; */
  grid-template-rows: auto 50%;
  padding: 0.5rem;
  overflow: hidden;
  transition: grid-template-rows 300ms ease-in-out;
  box-shadow: 0 16px 12px -8px #1e1e1e1e;
  &:nth-of-type(6) {
    grid-row: 3/5;
  }
  &:nth-of-type(5) {
    grid-row: 1/3;
  }
  &:nth-of-type(4) {
    grid-row: 3/5;
  }  
  &:nth-of-type(3) {
    grid-row: 2/5;
  }
  &:nth-of-type(2) {
    grid-row: 1/3;
  }
  &:nth-of-type(1) {
    grid-row: 1/2;
    height: 280px;
    border: none;
    box-shadow: none;
    padding: 0;
  }
  p{
    padding-top: 15px;
  }
  h2{
    font-size: 43px;
    color: #000;
    font-weight: 500;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  background-color: #f4f6ff;
  position: relative;
  img {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    right:0px;
  }
}

.card__content {
  padding: 1rem;

  h1 {
    margin-top: 0.75rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    color: #525252;
    line-height: 1.45rem;
  }

  a {
    --var-translate: 0rem;
    display: flex;
    width: fit-content;
    gap: 0.25rem;
    align-items: center;
    margin-top: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    color: #1468d2;
    transition: opacity 400ms ease-in-out;
    font-size: 0.9rem;

    .icon {
      font-size: 0.7rem;
      transition: translate 250ms ease-in-out;
      translate: var(--var-translate) 15%;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}



/*================ Footer Style Start ================*/
.getTouchSec{
  position: relative;
  width: 100%;
  padding: 70px 0 150px;
  position: relative;
  text-align: center;
  background: transparent conic-gradient(from 232deg at 70% 0%, #1C8E6B 0.00%, #1abc9c 36.91%, #17C08B 100.00%, #2ECF9D 100%) 0% 0% no-repeat;  
}
.footer-hero-shape{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-hero-shape img{
  width: 100%;
}
.getTouchSecFlex{
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
  padding:5px;
}
.getTouchSecFlexLeft{
  width: 40%;
  background: #1C8E6B;
  border-radius:20px;
  padding: 20px;
  text-align: left;
}
.getTouchSecFlex h3{
  font-size:30px;
  color: #fff;
  margin-bottom:10px;
  font-weight: 600;
  line-height: 65px;
}
.getTouchSecFlexRight{
  width: 55%;
  text-align: left;
  padding-right: 10px;
}
.getTouchSecFlexRight h3{
  color: #000;
  margin-bottom:0;
}
.getTouchSecFlexRight input[type="text"]{
  border-radius: 10px;
  padding-left: 15px;
}
.getTouchSecFlexRight textarea{
  border-radius: 10px;
  padding-left: 15px;
}
.getTouchSec h2{
  font-size: 63px;
  color: #fff;
  margin-bottom:10px;
  font-weight: 500;
  line-height: 75px;
}
.getTouchSec p{
  line-height: 2.0;
  color: #fff;
  padding-bottom: 20px;
}
.getTouchSecFlexLeft ul li{
  font-size: 16px;
  color: #fff;
  padding: 20px 0;
  border-top: dashed 1px #21a37c;
  display: flex;
}
.getTouchSecFlexLeft ul li span{
  width: 90%;
}
.getTouchSecFlexLeft ul li a{
  color: #fff;
}
.getTouchSecFlexLeft ul li a:hover{
  color: #fff;
}
.getTouchSecFlexLeft ul li:nth-child(2) i{
  font-size: 14px;
}
.getTouchSecFlexLeft ul li:last-child{
  border-bottom: none;
}
.getTouchSecFlexLeft ul li i{
  border: solid 1px #6e6e6e;
  background: #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  color: #000;
}
.socialSec{
  border-top: dashed 1px #21a37c;
  width: 100%;
  margin-top: 30px;
}
.socialSec ul{
  display: flex;
}
.socialSec ul li{
  margin: 5px;
  border: none;
  cursor: pointer;
}
.socialSec ul li i{
  border: solid 1px #494949;
  background: #1abc9c;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  color: #000;
  font-size: 20px;
}
.socialSec ul li:nth-child(2) i{
  font-size: 20px;
}
.socialSec ul li i:hover{
  background: #fff;
}

/*================ Footer Style Start ================*/
.btm-footer{
  position: relative;
  padding: 0 0 30px;
  width: 100%;
  background: #1f1f1f;
}
.btm-footer .flogo{
 margin-bottom: 20px;
 width: 300px;
}
.btm-footer p{
  font-size: 15px;
  color: #dadada;
}
.btm-footer ul{
  display: flex;
  justify-content: center;
}
.btm-footer ul li{
  font-size: 16px;
  color: #adadad;
  border-left: solid 1px #555555;
  padding:0 15px;
}
.btm-footer ul li a{
  color: #dadada;
}
.btm-footer ul li a:hover{
  color: #fff;
}
.btm-footer ul li:first-child{
  border-left: none;
}
.btm-footer ul li:first-child i{
  border-left: none;
  font-size: 14px;
}
.btm-footer ul li i{
  border: solid 1px #adadad;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.ftr-copyright-prt{
  position: relative;
  border-top: 1px solid #2e2e2e;
  padding-top: 25px;
  margin-top: 20px;
  text-align: center;
}
.ftr-copyright-prt p{
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0px;
  color: #adadad;
}












/*=============== Responsive Style ===============*/
@media (max-width: 1400px) {
  
}



@media (max-width: 1300px) {
  
}

@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .hdrToprow{
    display: none;
  }
  .hdr-row{
    justify-content: center;
  }
  .home-banner-sec{
    height: auto;
    padding-bottom: 50px;
  }
  .home-banner-sec .bnr-caption .bdFlex{
    flex-wrap: wrap;
  }
  .home-banner-sec .bnr-caption h2{
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
  }
  .slider_left {
    width: 100%;
    text-align: center;
  }
  .slider_right {
    width: 100%;
  }
  .home-banner-sec{
    height: auto;
  }
  .platformsSec h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .platformsSecFlex {
    flex-wrap: wrap;
  }
  .platformsSecCol {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
  .platformsSecCol h3 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 15px;
  }

  .featuredSSecFlex{
    flex-wrap: wrap;
  }
  .featuredSSecFlex li{
    width: 100%;
  }
  .dotted_curve_line{
    display: none;
  }
  .dotted_curve_line2{
    display: none;
  }
  .whyNeoticksSecFlex{
    flex-wrap: wrap;
  }
  .whyNeoticksCol {
    width: 100%;
  }
  .partnersSec h2 {
    font-size: 40px;
  }
  .topReviewedSSec h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .topReviewedSFlex {
    flex-wrap: wrap;
  }
  .topReviewedSFlexCol {
    width: 100%;
  }
  .whyNeoticksCol h2 {
    font-size: 40px;
  }
  .card__group {
    height: auto;
    grid-template-columns: none;
    grid-template-rows: none;
    padding: 0;
    margin-bottom: 50px;
  }
  .card {
    &:nth-of-type(1) {
        grid-row: auto;
        height: auto;
    }
  }
  .card {
    &:nth-of-type(2) {
        grid-row: auto;
    }
  }
  .card {
    &:nth-of-type(3) {
        grid-row: auto;
    }
  }
  .card {
    &:nth-of-type(4) {
        grid-row: auto;
    }
  }
  .card {
    &:nth-of-type(5) {
        grid-row: auto;
    }
  }
  .card {
    &:nth-of-type(6) {
      grid-row: auto;
    }
  }
  .card {
    h2 {
        font-size: 40px;
    }
  }
  .getTouchSec h2 {
    font-size: 40px;
  }
  .getTouchSecFlex {
    flex-wrap: wrap;
    width: 100%;
  }
  .getTouchSecFlexLeft {
    width: 100%;
  }
  .getTouchSecFlex h3 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .getTouchSecFlexRight {
    margin-top:30px;
    width: 100%;
    padding-right: 0;
}
.getTouchSec {
  padding: 70px 0 90px;
}
.btm-footer {
  position: relative;
  padding: 30px 0 30px;
}
.featuredSSec h2 {
  font-size: 40px;
  line-height: 50px;
}
.smallText {
  width: 100%;
}
.footer-hero-shape {
  bottom: -1px;
}
.btm-footer ul {
  flex-wrap: wrap;
}
.btm-footer ul li {
  border-left:none;
  border-bottom: solid 1px #343333;
  padding: 10px 0;
  width: 100%;
}
.btm-footer ul li:last-child {
  border-bottom: none;
}
.partnersSec ul li {
  width: 100%;
}
.orderOne{
  order: 1;
}
.orderTwo{
  order: 2;
}

}


@media (max-width: 576px) {  

  
}


@media (max-width: 480px) {
  
}


/*======= Responsive End  =======*/


